{% extends 'base_template.html' %} {% block content %}
<h1 dir="ltr" style="text-align: center">Password Reset.&nbsp;</h1>

<p dir="ltr">
  <br />
  <span style="font-size: 14px">Hello {{user}}!</span>
</p>

<p dir="ltr">
  <span style="font-size: 14px">
    You're receiving this email because you requested a password reset for your
    user account at {{ site_name }}.
  </span>
</p>

<p dir="ltr">
  <span style="font-size: 14px"
    >Please go to this
    <a
      href="https://{{ domain }}/en/auth/reset_password/?uidb64={{uid}}&token={{token}}&email={{user.get_username}}"
      target="_blank"
      >link</a
    >
    following page and choose a new password.</span
  >
</p>

<p dir="ltr">
  <span style="font-size: 14px"
    >If you did not request for this, please delete this email immediately and
    email us at
    <a
      href="mailto:enquiries@willcraftnow.com?subject=Feedback%20and%20Comments%20on%20Will%20Drafting%20Service"
      target="_blank"
      >enquiries@willcraftnow.com</a
    >
    to let us know.</span
  >
</p>

<p dir="ltr">
  <span style="font-size: 14px">Thank you!</span>
</p>

<p dir="ltr">
  <br />
  <span style="font-size: 14px"
    >Yours,<br />
    The WillCraft Team</span
  ><br />
  <span style="font-size: 12px"
    >Email:&nbsp;<a
      href="mailto:enquiries@willcraftnow.com?subject=Feedback%20and%20Comments%20on%20Will%20Drafting%20Service"
      target="_blank"
      >enquiries@willcraftnow.com</a
    ><br />
    Whatsapp: +65 8780 7125</span
  >
</p>
{% endblock %}
