<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>WillCraft API</title>
  </head>
  <body>
    <div id="root" style="height: 100vh; width:100vw; display:flex">
      <div
        id="root"
        style="flex-grow: 100; display:flex; flex-direction:column; align-items:center; justify-content:center"
      >
        This is not the droid you're looking for.
      </div>
    </div>
  </body>
</html>
