<h5 class="mx-3">
  YOUR USE OF THIS SITE AND / OR SERVICES CONSTITUTES YOUR AGREEMENT TO BE BOUND
  BY THESE TERMS AND CONDITIONS OF USE ("Terms of Use").
</h5>

<p class="mx-3">
  By accessing <u>www.willcraftnow.com</u> and any of its sub-domains
  (“Website”, or “WillCraft”) or by using the Services, you agree to enter into
  a legally binding agreement with Draftiy Pte. Ltd. (“Company”) on the terms
  and conditions set out below.
</p>

<ol>
  <h4>
    WillCraft is a tool to assist users in drafting wills and lasting power of
    attorneys ("Drafted Documents")
  </h4>
  <li class="lvl1">
    WillCraft is established to assist in the drafting of wills by Users, and
    for those Users to be optionally referred to a lawyer upon them drafting
    their Drafted Documents. We are not a law firm and we do not provide any
    legal advice.
  </li>
  <li class="lvl1">
    WillCraft is owned and operated by the Company, which will be the legal
    entity with which you are entering into this agreement.
  </li>
  <li class="lvl1">
    As part of the Referral Services to our users, WillCraft provides a platform
    for lawyers to access a User's Information upon being granted a Lawyer's
    User Profile. Lawyers may access a User's Information upon WillCraft
    granting them access to the same which is triggered upon the User electing
    to be referred to you or your firm.
  </li>
  <h4>Legally Binding Agreement</h4>
  <li class="lvl1">
    You are required to accept these Terms of Use (as amended from time to time)
    before you can access and use the Services. By accessing and/or using the
    Website and/or the Services, you consent to be bound by these Terms of Use.
  </li>
  <li class="lvl1">
    You agree that by clicking "Generate" or similar buttons, logging in,
    accessing, or otherwise using our Service in any way, you are entering into
    a legally binding agreement with us. For the avoidance of doubt, these Terms
    of Use also apply to unregistered visitors
  </li>
  <h4>Definitions</h4>
  <li class="lvl1">
    In this Terms of Use, where possible and applicable, the terms as set out in
    this clause have the corresponding meanings:
  </li>
  <p>
    <strong>Account </strong>means the account you opened with us for the
    provision of the Service.
  </p>
  <p>
    <strong>Company </strong>means Draftiy Pte. Ltd., and all references to
    "<strong>we</strong>" and/or "<strong>us</strong>" in these Terms of Use
    refers to the Company (or any, officer, employee, servant or agent thereof).
  </p>
  <p>
    <strong>Content </strong>includes, without limitation, any and all
    information, data, text, messages, writings, articles, responses, business
    profiles, photographs, videos, audio clips, software, scripts, graphics and
    interactive features generated, or other materials provided, posted or
    otherwise made accessible or available in/on:
  </p>
  <ol>
    <li class="lvl2">
      the Website, including but not limited to any articles or posts posted on
      the same;
    </li>
    <li class="lvl2">the Drafting Interfaces; and</li>
    <li class="lvl2">
      any written communication between WillCraft or the Company and you, and
    </li>
  </ol>
  <p>
    for the avoidance of doubt, Content shall include any Copies, duplicates,
    photographs or screenshots of the Website and the Drafting Interfaces,
    whether in the digital or physical medium.
  </p>
  <p>
    <strong>Copy </strong>means the use of any robot, spider, other automatic
    software or device, or manual process to monitor or copy, frame, mirror,
    modify, reproduce, republish, distribute, display, or transmit, the Website
    in whole or in part, or any or all of the Content, whether or not such
    monitoring or copying, framing, mirroring, modification, reproduction,
    republication, distribution, display, or transmission of the Website or
    Content is done through or in a physical or digital medium.
  </p>
  <p>
    <strong>Copies</strong>, or where applicable, a <strong>Copy</strong> mean
    any copy made by Copying.
  </p>
  <p>
    <strong>Details </strong>means any personal details in relation to any
    person, whether true or not, including but not limited to a person's:
  </p>
  <ol>
    <li class="lvl2">Email Address;</li>
    <li class="lvl2">Marital Status;</li>
    <li class="lvl2">Name or Alias(es);</li>
    <li class="lvl2">National Registration Certificate Number;</li>
    <li class="lvl2">Passport Number;</li>
    <li class="lvl2">Asset Details;</li>
    <li class="lvl2">Age;</li>
    <li class="lvl2">Known Address(es);</li>
    <li class="lvl2">Religion; and</li>
    <li class="lvl2">Gender.</li>
  </ol>
  <p>
    <strong>Draft Document</strong>means the Drafted Document that is generated
    by the system from the Details that have been collected from a User, or the
    Information provided by a User.
  </p>
  <p><strong>Excluded Services </strong>means:</p>
  <ol>
    <li class="lvl2">
      The provision of any Professional Legal Advice or any legal work in
      relation to the User's Drafted Documents or the drafting thereof;
    </li>
    <li class="lvl2">
      The provision of any Professional Financial Advice in relation to the
      User's Drafted Documents or the drafting thereof;
    </li>
    <li class="lvl2">
      The provision of any Professional Legal Advice in relation to estate and
      succession planning;
    </li>
    <li class="lvl2">
      Ensuring that all Details provided are true, complete, current and
      accurate;
    </li>
    <li class="lvl2">
      Ensuring that the User's Drafted Documents accurately reflects your estate
      and succession planning intentions;
    </li>
    <li class="lvl2">
      Where the Draft Document is a Will, ensuring that any of the User's assets
      will be distributed in accordance with your wishes upon your passing;
    </li>
    <li class="lvl2">
      Ensuring that the User's Drafted Documents are properly executed in
      accordance with the relevant legal formalities that may be required by
      law;
    </li>
    <li class="lvl2">
      Ensuring that any of the User's Drafted Documents, or where applicable,
      the clauses therein, is or will be valid or effective in law; or
    </li>
    <li class="lvl2">
      Ensuring that the User's Drafted Documents are or will be valid in law.
    </li>
  </ol>
  <p>
    <strong> Initial Details </strong>means details about you or your firm
    provided in order to be issued a Lawyer's Login ID and password, including
    details such as the address, the contact information, the registered name
    and a copy of your logo.
  </p>
  <p>
    <strong>Professional Legal Advice</strong>, for the avoidance of doubt shall
    include:
  </p>
  <ol>
    <li class="lvl2">
      Advising the User on whether the Basic or Premium drafting interfaces
      might be sufficient for his/her estate and succession planning needs and
      requirements;
    </li>
    <li class="lvl2">
      Advising the User on the legal requirements in relation to the execution
      of his/her Drafted Documents;
    </li>
    <li class="lvl2">
      Advising the User as to whether or not his/her Drafted Documents are
      validly executed;
    </li>
    <li class="lvl2">
      Advising the User on the validity of any of the clauses of his/her Drafted
      Documents with regard to the laws that apply to you; and
    </li>
    <li class="lvl2">
      Advising the User on the validity of his/her Drafted Documents with regard
      to the laws that apply to him/her.
    </li>
  </ol>
  <p><strong>User Information</strong> includes:</p>
  <ol>
    <li class="lvl2">
      Without limitation, any information, data, text, messages, writings,
      articles, responses, business profiles, photographs, videos, audio clips
      that we disclose to you through our Website or through any form including
      but not limited to web forms within the Website, emails to you and in your
      conversations with any of our employees and/or agents and Information;
    </li>
    <li class="lvl2">
      Any Drafted Document that is generated by the Website; and
    </li>
    <li class="lvl2">
      Details of the User and Details of other persons that he/she may through
      the use of our Website provide, submit or transmit to us.
    </li>
  </ol>
  <p>
    For the avoidance of doubt, User Information shall include any Copies,
    duplicates, photographs or screenshots of the Website and the Drafting
    Interfaces, whether in the digital or physical medium.
  </p>
  <p>
    <strong>Services </strong>mean the act of disclosing a User's Information on
    the Lawyer's Portal.
  </p>
  <p>
    <strong>Lawyer's Portal </strong>means the area of the Website that is
    available to Legal Service Providers in order to access a User's
    Information.
  </p>
  <p>
    <strong>Legal Service Provider </strong>means that any lawyer(s) or law
    firm(s) that we work with from time to time in providing the Referral
    Service.
  </p>
  <p>
    <strong>Referral Service </strong>means the service of referring a User to a
    Legal Service Provider.
  </p>
  <p>
    <strong>Third Party Legal Services </strong>means any engagement or
    agreement made, or any service or work done pursuant to any engagement or
    agreement made between the User and the Legal Service Provider.
  </p>
  <p>
    <strong>Third Party Servers </strong>mean the third party, cloud-based, data
    servers that we use to store Information.
  </p>
  <p>
    <strong>User </strong>means any person or entity that engages in the Use of
    our Website.
  </p>
  <p>
    <strong>Use </strong>of our Website means accessing, viewing, using or
    otherwise interacting with our Website or any part or element thereof, and
    includes but is not limited to the following actions:
  </p>
  <ol>
    <li class="lvl2">
      Accessing or viewing the Website, as well as utilising any links on the
      same;
    </li>
    <li class="lvl2">Accessing or viewing any Content on the Website;</li>
    <li class="lvl2">
      Accessing or viewing or using the Services in whole or in part;
    </li>
    <li class="lvl2">
      Clicking buttons or links on the Website, including but not limited to the
      "Register", "Login", "Start Now!" or similar buttons;
    </li>
    <li class="lvl2">
      Receiving any notification or communication from the Site or from us (in
      whatever medium including email, SMS, fax, or via any other social media
      platform such as Facebook, Twitter, LinkedIn, or Instagram, etc.); and
    </li>
    <li class="lvl2">retrieving information of any User from our Website.</li>
  </ol>
  <p>
    <strong>Document Drafting Service </strong>means the service of generating
    the Drafted Document from a User's input into the Drafting Interfaces.
  </p>

  <h4>Registration and Privacy Policy</h4>
  <li class="lvl1">
    In order to access a User's Information you must first be issued a Lawyer's
    Login ID and password. In order to be issued a Lawyer's Login ID and
    password, you will need to provide us with Initial Details.
  </li>
  <li class="lvl1">
    You agree to keep the Initial Details true, accurate, current and complete,
    and to update us as and when such information changes. You must ensure that
    the password is kept confidential. You must notify us in writing immediately
    if you become aware of any unauthorised use of the Account or password.
  </li>
  <li class="lvl1">
    You agree that the Account will be used by you only and will not be shared
    with or transferred to others.
  </li>
  <li class="lvl1">
    We reserve the right to restrict access to any areas of the Website, or the
    entire Website, at our discretion
  </li>
  <li class="lvl1">
    By providing the Initial Details, clicking "Generate", logging in to or
    accessing our Website or using our Services in any way, you agree that you
    have accepted our Privacy Policy and these Terms of Use, and the same
    constitutes consent to the use of any Personal Data which you provide us in
    such registration for the purposes set out in our Privacy Policy and for all
    uses ancillary thereto for which your consent may reasonably be implied
  </li>
  <li class="lvl1">
    Save that we will comply with the relevant data privacy laws within your
    territory including but not limited to the Singapore Personal Data
    Protection Act 2012, nothing in these Terms of Use shall be deemed to impute
    an obligation of confidentiality on us with respect to your registration
    information and the Content. If required by law (including a court order and
    a government or regulatory demand or requirement having the force of law),
    we will disclose such information, including but not limited to your
    registration information, as so ordered.
  </li>

  <h4>We may change these Terms of Use and Privacy Policy</h4>
  <li class="lvl1">
    These Terms of Use and our Privacy Policy may be changed by us at any time
    at our sole discretion, and the updated Terms of Use and Privacy Policy will
    be effective when posted on our Website or when you are reasonably notified
    by other means, whichever is earlier. If you do not wish to be bound by such
    change, you may discontinue using and terminate the Service before the
    change becomes effective. Your continued use of the Service after the change
    becomes effective, indicates your agreement and consent to the change and is
    effective as to the same.
  </li>
  <li class="lvl1">
    For the avoidance of doubt, we are not responsible for notifying you of any
    changes to these Terms of Use or the Privacy Policy. We strongly advise you
    to review the Website, these Terms of Use and/or the Privacy Policy on a
    regular basis to ensure you understand all terms and conditions governing
    use of our Services.
  </li>

  <h4>We may change the Services</h4>
  <li class="lvl1">
    We may change, suspend or end any Service at any time, and subject to our
    sole discretion.
  </li>

  <h4>We do not promise to maintain, keep or provide any User's Information</h4>
  <li class="lvl1">
    We are not obliged to maintain, keep or provide a copy of any User's
    Information or any Initial Details, save as required under the relevant law
    and as provided for in our Privacy Policy
  </li>
  <li class="lvl1">
    If you wish to be provided a copy of any User's Information or Initial
    Details, and we are agreeable to provide such a copy, you agree to be
    charged an administration fee (the sum of which is to be determined by us).
    You also agree that we will not provide you with a copy of any User's
    Information or any Initial Details unless the same can no longer be found on
    our Website at the time of your request and we are in possession of records
    or Copies of the User's Information or Initial Details.
  </li>

  <h4>You are eligible to enter into this agreement</h4>
  <li class="lvl1">You confirm that you:</li>
  <ol>
    <li class="lvl2">are at least 18 years old;</li>
    <li class="lvl2">
      hou have not been restricted by us in using any of the Services;
    </li>
    <li class="lvl2">have read these Terms of Use; and</li>
    <li class="lvl2">
      are otherwise fully able and competent to accept, abide and comply with
      these Terms of Use.
    </li>
  </ol>
  <h4>Eligibility to use our Services</h4>
  <li class="lvl1">Where you use our Services you further confirm that you:</li>
  <ol>
    <li class="lvl2">
      Have received an email from WillCraft stating that a User has elected to
      be referred to you;
    </li>
    <li class="lvl2">
      You have sought his/her consent and authorisation in accessing the User
      Information relation to him/her; and
    </li>
    <li class="lvl2">
      If you are doing so on behalf on a law firm, that you have been duly
      authorised to do so.
    </li>
  </ol>
  <li class="lvl1">You represent, warrant and certify the following:</li>
  <ol>
    <li class="lvl2">
      You are legally licensed and eligible to practice law in the Republic of
      Singapore;
    </li>
    <li class="lvl2">You are in good standing in the Republic of Singapore;</li>
    <li class="lvl2">
      Where relevant, you are covered by professional liability insurance. You
      assume all risk in connection with the adequacy of any and all such
      insurance; and
    </li>
    <li class="lvl2">
      If any of the above changes, you agree to immediately notify us and update
      the inaccurate or outdated information within 10 days of such
      notification. The Company shall not be held liable for any losses and/or
      damages arising out of and/or during the period within which the
      information is being updated and/or corrected.
    </li>
  </ol>

  <h4>Excluded Services</h4>
  <li class="lvl1">
    You agree and acknowledge that we do not provide any Excluded Service.
  </li>

  <h4>Restrictions on Use</h4>
  <li class="lvl1">You agree that:</li>
  <ol>
    <li class="lvl2">
      You will not use the Services other than in accordance with these Terms of
      Use;
    </li>
    <li class="lvl2">
      You will not use the Services for any other purpose except to obtain User
      information for the purposes of providing professional legal advice to the
      User;
    </li>
    <li class="lvl2">
      You will not sell, sublicense, time-share, or otherwise share the Services
      with any third party;
    </li>
    <li class="lvl2">
      You will not Copy or use the Content in connection with a service deemed
      competitive by us;
    </li>
    <li class="lvl2">
      You will not access the Services for purposes of monitoring its
      availability, performance or functionality, or for any other benchmarking
      or competitive purposes;
    </li>
    <li class="lvl2">
      You will not send spam or other unwelcome communications to others, or act
      in an unlawful, defamatory, libelous, abusive, discriminatory or otherwise
      objectionable manner as determined by us, through the use of the Services;
    </li>
    <li class="lvl2">
      You will not decompile, reverse engineer, disassemble, rent, lease, loan,
      sell, sublicense, or create derivative works from the Website or the
      Service;
    </li>
    <li class="lvl2">
      You will not use any network monitoring or discovery software to determine
      the website architecture, or extract information about usage, individual
      identities or Users;
    </li>
    <li class="lvl2">
      You will not use any device, software, or routine that interferes with any
      application, function, or use of the Website or the Services, or is
      intended to damage, detrimentally interfere with, surreptitiously
      intercept, or expropriate any system, data, or communication;
    </li>
    <li class="lvl2">
      You will not Copy the sites on which our Services are provided on or any
      content thereon for commercial, non-profit or public purposes unless with
      our express and written consent save to provide professional legal advice
      to the User;
    </li>
    <li class="lvl2">
      You may not use this Site to transmit any false, misleading, fraudulent or
      illegal communications;
    </li>
    <li class="lvl2">
      You will not use the Services either directly or indirectly to support any
      activity that is illegal and/or immoral including but not limited to
      violating our intellectual property rights or that of others;
    </li>
    <li class="lvl2">
      You will not override any security feature of the Services; and
    </li>
    <li class="lvl2">
      You will not authorize, incite, abet, or conspire with any third parties
      to do any of the above.
    </li>
  </ol>
  <h4>Agent or Representative</h4>
  <li class="lvl1">
    If you are agreeing to these Terms of Use and/or using the Services on
    behalf of, at the request of, or under the direction of another person or a
    business entity (be it a sole proprietorship, partnership, company etc.),
    you represent and warrant that you have authority to bind that person or
    business entity (as the case may be) to these Terms, and your agreement to
    these Terms will be treated as the agreement of that person or business
    entity. In this event, save for this section, "you" and "your" as used in
    these Terms of Use shall refer to that person or business entity to the
    extent possible.
  </li>
  <li class="lvl1">For clarity, you confirm that:</li>
  <ol>
    <li class="lvl2">
      You have notified the other person of these Terms of Use and the person is
      aware of these Terms of Use and their obligations;
    </li>
    <li class="lvl2">
      You are a duly authorised agent of the person or business entity and are
      duly authorised by the person or business entity to consent to these Terms
      of Use on his or its behalf;
    </li>
    <li class="lvl2">
      You are consenting to these Terms of Use on his or her behalf;
    </li>
    <li class="lvl2">That person is at least 18 years old; and</li>
    <li class="lvl2">
      That person is otherwise fully able and competent to accept, abide and
      comply with these Terms of Use.
    </li>
  </ol>
  <li class="lvl1">
    Where you use the Services on behalf of another person or business entity,
    you confirm that:
  </li>
  <ol>
    <li class="lvl2">
      You are duly authorised by the person or business entity to view any
      Content; and
    </li>
    <li class="lvl2">
      You are duly authorised by the person or business entity to use the
      Services.
    </li>
  </ol>
  <li class="lvl1">
    You agree that we will not be responsible for any error, mistake, omission,
    neglect or default on the part of you in the use of our Services by you on
    behalf of your principal, including but not limited to any breach of
    confidentiality or any breach of the Singapore Personal Data Protection Act
    2012 or relevant data protection legislation, on your part of the User's
    Information.
  </li>
  <li class="lvl1">
    You undertake to keep us and our affiliates, officers, agents, partners, and
    employees indemnified and wholly harmless against:
  </li>
  <ol>
    <li class="lvl2">
      any losses, damages, costs, liabilities and expenses (including, without
      limitation, any amounts paid by us to a third-party in settlement of a
      claim or dispute on the advice of our legal advisers, and all legal fees
      and all related costs and expenses of litigation, arbitration, mediation
      or any other forms of dispute resolution) incurred or suffered by us
      relating to or arising out of:
    </li>
    <ol>
      <li class="lvl3">
        Any action started by your principal against us, whether in an action of
        contract, negligence, or other tortious action, including without
        limitation any claim for personal injury or property damage, arising out
        of or in connection with any dispute regarding, arising out of, or
        otherwise in connection with any breach of confidentiality or any breach
        of the Singapore Personal Data Protection Act 2012 on your part of the
        User's Information;
      </li>
      <li class="lvl3">
        Any action started by your principal against you, whether in an action
        of contract, negligence, or other tortious action, including without
        limitation any claim for personal injury or property damage, arising out
        of or in connection with any dispute regarding, arising out of, or
        otherwise in connection with any breach of confidentiality or any breach
        of the Singapore Personal Data Protection Act 2012 on your part of the
        User's Information;
      </li>
      <li class="lvl3">
        Any action started by the User, his/her estate, and/or his/her
        beneficiaries against you or your principal, whether in an action of
        contract, negligence, or other tortious action, including without
        limitation any claim for personal injury or property damage, arising out
        of or in connection with any dispute regarding, arising out of, or
        otherwise in connection with any breach of confidentiality or any breach
        of the Singapore Personal Data Protection Act 2012 on your part of the
        User's Information;
      </li>
      <li class="lvl3">
        Any action started by the User, his/her estate, and/or his/her
        beneficiaries against us, whether in an action of contract, negligence,
        or other tortious action, including without limitation any claim for
        personal injury or property damage, arising out of or in connection with
        any dispute regarding, arising out of, or otherwise in connection with
        any breach of confidentiality or any breach of the Singapore Personal
        Data Protection Act 2012 on your part of the User's Information; and
      </li>
      <li class="lvl3">
        Any breach of these Terms of Use by you or your principal; and
      </li>
    </ol>
    <li class="lvl2">
      Any other indirect, punitive, special, incidental, or consequential damage
      or economic loss (including legal fees and all related costs and expenses
      of litigation, arbitration, mediation or any other forms of dispute
      resolution) incurred or suffered by us as a direct or indirect result of a
      breach of confidentiality or any breach of the Singapore Personal Data
      Protection Act 2012 with respect to the User's Information, whether or not
      the said damages or economic losses were suffered or incurred as a result
      of an action started by you or your principle, whether in an action of
      contract, negligence, or other tortious action, including without
      limitation any claim for personal injury or property damage.
    </li>
  </ol>
  <h4>User's Information</h4>
  <li class="lvl1">
    You agree that any User's Information provided by or on the Website, and
    specifically in or on our Services, are for information purposes only and
    shall not be treated as a representation of fact, and that you will:
  </li>
  <ol>
    <li class="lvl2">
      not act and will refrain from acting on the basis of any User's
      Information; and
    </li>
    <li class="lvl2">
      where required, will verify the required details with the User.
    </li>
  </ol>
  <li class="lvl1">
    We exclude all representations, warranties or guarantees that may apply to
    the User's Information including any representations, warranties or
    guarantees that apply towards the accuracy, completeness, correctness or
    currency of the User's Information.
  </li>
  <li class="lvl1">
    If you know that the User's Information is false, inaccurate, incomplete or
    not up to date you agree to communicate directly with us at
    <a href="mailto:enquiries@willcraftnow.com">enquiries@willcraftnow.com</a>
    for the purposes of rectifying the User's Information or taking down the
    User's Information from the Site.
  </li>
  <li class="lvl1">
    You further agree that where the User's Information displayed does not
    belong to the User that was referred, that you will immediately communicate
    directly with us at
    <a href="mailto:enquiries@willcraftnow.com">enquiries@willcraftnow.com</a>.
  </li>
  <li class="lvl1">
    You acknowledge that we are not a law firm and we do not provide any legal
    advice.
  </li>
  <li class="lvl1">
    You undertake to keep us and our affiliates, officers, agents, partners, and
    employees indemnified and wholly harmless against:
  </li>
  <ol>
    <li class="lvl2">
      any losses, damages, costs, liabilities and expenses (including, without
      limitation, any amounts paid by us to a third-party in settlement of a
      claim or dispute on the advice of our legal advisers, and all legal fees
      and all related costs and expenses of litigation, arbitration, mediation
      or any other forms of dispute resolution) incurred or suffered by us
      relating to or arising out of:
    </li>
    <ol>
      <li class="lvl3">
        any action started by a User, his/her estate or his/her beneficiaries,
        whether in an action of contract, negligence, or other tortious action,
        including without limitation any claim for personal injury or property
        damage, against us arising out of or in connection with any dispute
        regarding the transmission, sending, communication of the User's
        Information to and subsequent storage of the same by you; or
      </li>
      <li class="lvl3">
        any action started by a User, his/her estate or his/her beneficiaries,
        whether in an action of contract, negligence, or other tortious action,
        including without limitation any claim for personal injury or property
        damage, against your or your law firm arising out of or in connection
        with any dispute regarding the transmission, sending, communication of
        the User's Information to and subsequent storage of the same by you; and
      </li>
    </ol>
    <li class="lvl2">
      Any other indirect, punitive, special, incidental, or consequential damage
      or economic loss (including legal fees and all related costs and expenses
      of litigation, arbitration, mediation or any other forms of dispute
      resolution), suffered by us as a result of your action against any Third
      Party Service Providers whether in an action of contract, negligence, or
      other tortious action, including without limitation any claim for personal
      injury or property damage.
    </li>
  </ol>
  <h4>Service and Access</h4>
  <li class="lvl1">
    We will endeavour to the best of our abilities and within reasonable means
    to ensure that the Website and the Services are available at all times.
  </li>
  <li class="lvl1">Notwithstanding the foregoing, we</li>
  <ol>
    <li class="lvl2">
      do not warrant that your use of the Services will be uninterrupted or
      error-free; or that the Services will meet your requirements; and
    </li>
    <li class="lvl2">
      are not responsible for any delays, delivery failures, or any other lapses
      in providing the Services.
    </li>
  </ol>
  <li class="lvl1">
    You acknowledge that the Services may be subject to limitations, delays and
    other problems related to the use of such communications facilities, or to
    limitations, delays, and other problems on part of our service providers.
  </li>
  <h4>Our Intellectual Property Rights</h4>
  <li class="lvl1">
    We own all Intellectual Property Rights, including those with regard to the
    User's Information and the Drafted Documents that may be disclosed to you as
    part thereof. These Terms of Use do not convey any proprietary interest in
    or to our Intellectual Property Rights or entitlement to the use thereof.
  </li>
  <h4>Information provided by you</h4>
  <li class="lvl1">
    We use Third Party Servers to store and manipulate your Registration Details
    in order to provide you the Service. Whilst we will make reasonable efforts
    to use secure Third Party Servers with similar data protection standards to
    the Singapore Personal Data Protection Act 2012, the security and storage
    location of your Information and your Initial Details will be based on the
    security measures put in place by the Third Party Servers, and on the
    location of those Third Party Servers.
  </li>
  <li class="lvl1">You consent and authorise us to:</li>
  <ol>
    <li class="lvl2">
      transmit, send or otherwise communicate your Initial Details and
      Registration Information to such Third Party Servers for the purposes of
      providing you the Services;
    </li>
    <li class="lvl2">
      manipulate, use, and store your Initial Details and Registration
      Information on such Third Party Servers for the purposes of providing you
      the Services.
    </li>
  </ol>
  <li class="lvl1">
    You agree that your Initial Details and Registration Information may be
    transmitted, sent or otherwise communicated to our Third Party Servers and
    thereafter to be stored on our Third Party Servers at any of the locations
    at which their physical servers exist for the purposes of providing you the
    Service.
  </li>
  <li class="lvl1">
    You further agree that the security measures with regard to the sending,
    transmission or communication to, and thereafter the storage on those Third
    Party Servers of your Initial Details and Registration Information are
    adequate and reasonable.
  </li>
  <li class="lvl1">
    You agree that we may change Third Party Servers at any time.
  </li>
  <li class="lvl1">We will not be responsible for:</li>
  <ol>
    <li class="lvl2">
      any breach on the part of the Third Party Servers in the receipt and
      storage of your Initial Details and/or Registration Information and shall
      not be liable for any losses and/or damages suffered or incurred by you in
      relation to the same; or
    </li>
    <li class="lvl2">
      any breach on part of us in the sending, disclosure, transmission and/or
      communication of your Initial Details and/or Registration Information and
      shall not be liable for any losses and/or damages suffered or incurred by
      you arising out of the same.
    </li>
  </ol>
  <li class="lvl1">
    You undertake to keep us and our affiliates, officers, agents, partners, and
    employees indemnified and wholly harmless against:
  </li>
  <ol>
    <li class="lvl2">
      any losses, damages, costs, liabilities and expenses (including, without
      limitation, any amounts paid by us to a third-party in settlement of a
      claim or dispute on the advice of our legal advisers, and all legal fees
      and all related costs and expenses of litigation, arbitration, mediation
      or any other forms of dispute resolution) incurred or suffered by us
      relating to or arising out of:
    </li>
    <ol>
      <li class="lvl3">
        any action started by a User, his/her estate and/or his/her
        beneficiaries, whether in an action of contract, negligence, or other
        tortious action, including without limitation any claim for personal
        injury or property damage, against us arising out of or in connection
        with the transmission, sending, communication of your Initial Details
        and Registration Information that you have provided to and subsequent
        storage of the same by the Third Party Servers; or
      </li>
      <li class="lvl3">
        any action started by User, his/her estate and/or his/her beneficiaries
        whether in an action of contract, negligence, or other tortious action,
        including without limitation any claim for personal injury or property
        damage, against any Third Party Servers arising out of or in connection
        with the transmission, sending, communication of your Initial Details
        and Registration Information that you have provided to and subsequent
        storage of the same by the Third Party Servers; and
      </li>
    </ol>
    <li class="lvl2">
      any other indirect, punitive, special, incidental, or consequential damage
      or economic loss (including legal fees and all related costs and expenses
      of litigation, arbitration, mediation or any other forms of dispute
      resolution), suffered by us as a result of a User's, his/her estate's
      and/or his/her beneficiaries' action against any Third Party Servers
      whether in an action of contract, negligence, or other tortious action,
      including without limitation any claim for personal injury or property
      damage.
    </li>
  </ol>
  <h4>Payment</h4>
  <li class="lvl1">
    We do not collect any payments from you, nor provide any payments to you.
  </li>
  <h4>Third Party Law Firms</h4>
  <li class="lvl1">
    You acknowledge and agree that you are independent contractors and we do not
    derive any referral fees or share in any profit arising from the provision
    of the Service and/or any Third Party Legal Services and that you and the
    User are free to determine the scope, terms and conditions of your
    engagement or agreement with them. You further acknowledge and agree that we
    do not provide, or exercise any control or oversight over you, and in
    particular do not provide, or exercise any control or oversight over you
    with respect to the performance of any work done by you after the User has
    been referred to you.
  </li>
  <h4>Limitation of Liability</h4>
  <li class="lvl1">
    We provide the Website and the Services on a 'as is' and 'as available'
    basis and the use of the Website, and the Services are at your own risk. We
    make no representations express or implied, with respect to User's
    Information provided through the Website or Services, or to the accuracy,
    legal validity, or correctness of the Drafted Documents and the clauses
    therein as generated by us.
  </li>
  <li class="lvl1">
    Nothing in these Terms of Use excludes or limits our liability for death or
    personal injury directly arising from our negligence, or our fraud or
    fraudulent misrepresentation, or any other liability that cannot be excluded
    or limited by law.
  </li>
  <li class="lvl1">
    To the extent permitted by law, we shall not be liable to you and/or your
    firm for:
  </li>
  <ol>
    <li class="lvl2">
      any indirect, incidental, exemplary punitive, or consequential damages of
      any kind whatsoever; or
    </li>
    <li class="lvl2">
      loss of profits, sales, revenue, data, use, goodwill, or other intangible
      losses.
    </li>
  </ol>
  <li class="lvl1">
    In particular, and without prejudice to the clause above, we shall not be
    liable to you or your firm for any indirect, incidental, exemplary punitive,
    or consequential damages of any kind whatsoever, and any loss of profits,
    sales, revenue, data, use, goodwill, or other intangible losses, incurred,
    relating to, arising out of, or otherwise connected directly or indirectly
    to:
  </li>
  <ol>
    <li class="lvl2">
      your access to, use of, or inability to access or use the Services and/or
      our Website;
    </li>
    <li class="lvl2">
      your access in any manner relating to any Content, and in particular, your
      reliance on any User's Information;
    </li>
    <li class="lvl2">any and all malpractice claims;</li>
    <li class="lvl2">
      the misappropriation and/or misuse of your Initial Details and
      Registration Information and/or other information by you, your employees,
      partners and affiliates including but not limited to fraudulent conduct,
      theft of information and the unauthorised retention of information;
    </li>
    <li class="lvl2">any Excluded Service;</li>
    <li class="lvl2">
      any transmission, sending, communication of the User's Information to and
      subsequent storage of the same by you;
    </li>
    <li class="lvl2">any Copies made of the User's Information by you;</li>
    <li class="lvl2">
      any act, omission, neglect, default, mistake, error, or inaccuracy,
      whether programmatic or typographical, in the Document Drafting Service,
      in the User's Information and specifically in the Drafted Document; or
    </li>
    <li class="lvl2">
      any act, omission, neglect, default, mistake, error, or inaccuracy in the
      final document (if any) that you may have drafted for the client, whether
      or not based on our Drafted Documents, and whether or not the act,
      omission, neglect, default, mistake, error, or inaccuracy existed in our
      Drafted Documents.
    </li>
  </ol>
  <li class="lvl1">
    You also agree that we are not responsible or liable for the content of
    external websites that you visit via hyperlinks from our Site. These are
    third-party offerings where we have no influence on the configuration and
    content. Should you obtain knowledge of illegal content on websites of other
    providers which can be reached via our Site, you agree to inform us so that
    we can remove the reference to the content in question.
  </li>
  <li class="lvl1">
    To the extent permitted by law, our total liability for any claim under
    these Terms of Use , including for any implied warranties, is limited to the
    greater of SGD 200.
  </li>
  <h4>Indemnification</h4>
  <li class="lvl1">
    You and/or your firm undertake to keep us and our affiliates, officers,
    agents, partners, and employees indemnified and wholly harmless against:
  </li>
  <ol>
    <li class="lvl2">
      any losses, damages, costs, liabilities and expenses (including, without
      limitation, any amounts paid by us to a third-party in settlement of a
      claim or dispute, and all legal fees and all related costs and expenses of
      litigation, arbitration, mediation or any other forms of dispute
      resolution) incurred or suffered by us relating to or arising out of:
    </li>
    <ol>
      <li class="lvl3">
        Any breach of these Terms of Use by you, your firm or any third party;
      </li>
      <li class="lvl3">
        Ineligible or unauthorized use of the Website or the Services;
      </li>
      <li class="lvl3">
        Any provision of incorrect or false information on the Site;
      </li>
      <li class="lvl3">
        Any action started by the User, his/her estate and/or his/her
        beneficiaries, whether in an action of contract, negligence, or other
        tortious action, including without limitation any claim for personal
        injury or property damage, arising out of or in connection with any
        dispute regarding the correctness (including but not limited to accuracy
        of information and precision of wording) of the User's Information
        and/or the Drafted Documents;
      </li>
      <li class="lvl3">
        Any Information provided, submitted to or transmitted through our
        Website to you or your firm whether or not through a webform, or your
        violation of any rights of another person or business entity as a result
        of the provision, submission of transmission of any Information to or
        through our Website (which includes the provision of personal data of
        other person(s) without the consent of such other person(s) or business
        entity(s));
      </li>
      <li class="lvl3">
        Any violation by you of any laws, statutes, rules, or regulations, even
        if we have been previously advised of the possibility of such violation;
        and
      </li>
      <li class="lvl3">
        Any other indirect, punitive, special, incidental, or consequential
        damage, however it arises (including legal fees and all related costs
        and expenses of litigation, arbitration, mediation or any other forms of
        dispute resolution), whether in an action of contract, negligence, or
        other tortious action, including without limitation any claim for
        personal injury or property damage.
      </li>
    </ol>
  </ol>
  <h4>Termination</h4>
  <li class="lvl1">
    We may terminate this agreement and your status as a Legal Service Provider
    at any time without notice and without reason, and reserve the right to
    remove your Content from our site without notice and without reason, and to
    remove your firm from the Legal Referral Service without notice and without
    reason.
  </li>
  <li class="lvl1">
    Upon termination, your right to access and use the Services will
    automatically cease, and you may not continue to access or use the Services.
  </li>
  <li class="lvl1">
    You may terminate this agreement by giving 1 month's notice via email to
    <a href="mailto:enquiries@willcraftnow.com">enquiries@willcraftnow.com</a>.
  </li>
  <li class="lvl1">
    Termination of this agreement shall not affect clauses 27, 33, 44 and 53 of
    this Terms of Use.
  </li>
  <h4>Governing law & Jurisdiction and Dispute Resolution</h4>
  <li class="lvl1">
    These Terms of Use and any dispute or claim arising out of or in connection
    with it or its subject matter or formation (including non-contractual
    disputes or claims) shall be governed by and construed in accordance with
    the law of the Republic of Singapore.
  </li>
  <li class="lvl1">If you</li>
  <ol>
    <li class="lvl2">live in Singapore; or</li>
    <li class="lvl2">
      are a business entity principally operating in Singapore
    </li>
  </ol>
  <p>
    Any dispute arising out of or in connection with this agreement must first
    be submitted for mediation at the Singapore Mediation Centre (SMC) in
    accordance with SMC's Mediation Procedure in force for the time being,
    failing which the dispute shall be referred to and finally and conclusively
    resolved by the Courts of the Republic of Singapore.
  </p>
  <p>
    Either/any party may submit a request to mediate to SMC upon which the other
    party will be bound to participate in the mediation within 90 days thereof.
    Every party to the mediation must be represented by senior executive
    personnel, of at least the seniority of a Head of Department or its
    equivalent, with authority to negotiate and settle the dispute. Unless
    otherwise agreed by the parties, the Mediator(s) will be appointed by SMC.
    The mediation will take place in Singapore in the English language and the
    parties agree to be bound by any settlement agreement reached.
  </p>
  <li class="lvl1">If you</li>
  <ol>
    <li class="lvl2">live in territories outside of Singapore; or</li>
    <li class="lvl2">
      are a business entity principally operating in territories outside of
      Singapore,
    </li>
  </ol>
  <p>
    any dispute arising out of or in connection with this agreement must first
    be submitted for mediation at an accredited mediation body within your
    territory in accordance with the relevant mediation body's rules and/or
    regulations in force for the time being, failing which the dispute shall be
    referred to and finally and conclusively resolved by the courts in your
    territory.
  </p>
  <h4>Waiver</h4>
  <li class="lvl1">
    No failure or delay by a party to exercise any right or remedy provided
    under these Terms of Use or by law shall constitute a waiver of that or any
    other right or remedy, nor shall it preclude or restrict the further
    exercise of that or any other right or remedy. No single or partial exercise
    of such right or remedy shall preclude or restrict the further exercise of
    that or any other right or remedy.
  </li>
  <h4>Severance</h4>
  <li class="lvl1">
    If any provision or part-provision of these Terms of Use is or becomes
    invalid, illegal or unenforceable, it shall be deemed modified to the
    minimum extent necessary to make it valid, legal and enforceable. If such
    modification is not possible, the relevant provision or part-provision shall
    be deemed deleted. Any modification to or deletion of a provision or
    part-provision under this clause shall not affect the validity and
    enforceability of the rest of these Terms of Use .
  </li>
  <h4></h4>
  <li class="lvl1">
    If any provision or part-provision of these Terms of Use is or becomes
    invalid, illegal or unenforceable, it shall be deemed modified to the
    minimum extent necessary to make it valid, legal and enforceable. If such
    modification is not possible, the relevant provision or part-provision shall
    be deemed deleted. Any modification to or deletion of a provision or
    part-provision under this clause shall not affect the validity and
    enforceability of the rest of these Terms of Use .
  </li>
  <h4>Entire Agreement</h4>
  <li class="lvl1">
    These Terms of Use constitute the entire agreement between the parties and
    supersedes all previous discussions, correspondence, negotiations,
    arrangements, understandings and agreements between them relating to its
    subject matter.
  </li>
  <h4>Assignment</h4>
  <li class="lvl1">
    You may not assign, transfer, charge, subcontract or deal in any other
    manner with all or any of its rights or obligations under these Terms of
    Use. However, we may at any time assign, transfer, charge, subcontract or
    deal in any other manner, with all or any of its rights or obligations under
    these Terms of Use without your consent.
  </li>
  <h4>Third Party Rights</h4>
  <li class="lvl1">
    No one other than a party to these Terms of Use, their successors and
    permitted assignees, shall have any right to enforce any of its terms.
  </li>
  <h4>No Partnership or Agency</h4>
  <li class="lvl1">
    Nothing in these Terms of Use is intended to, or shall be deemed to,
    establish any partnership or joint venture between any of the parties,
    constitute any party the agent of another party, nor authorize any party to
    make or enter into any commitments for or on behalf of any other party. Each
    party confirms it is acting on its own behalf and not for the benefit of any
    other person, save for where clauses 23 to 27 are in operation
  </li>
</ol>

<p class="mx-3">Last revised date: 21 September 2018</p>
